beautifulsoup4
cefpython3
chardet
flask
future
pillow==7.2.0
six
wxPython==4.0.4
colorlog
django==1.11
pyppeteer
sentry-sdk
sentry-sdk[flask]
-e git://github.com/kollivier/pyeverywhere.git@dev#egg=pyeverywhere
-e git://github.com/kollivier/imscp.git@master#egg=imscp-le
-e git://github.com/kollivier/ricecooker.git@local_publish#egg=ricecooker
-e git://github.com/kollivier/pressurecooker.git@master#egg=pressurecooker
-e git://github.com/kollivier/webmixer.git@master#egg=webmixer
